*body{
  margin: 0;
  align-items: center;
  justify-content: space-between;
  padding :0;

  /* background-color; */
  /* color:whitesmoke; */
} 
.app_body{
  display: flex;
  height: 90VH;
  
  /* overflow-y: unset; */
}